version: "3" # Specifies the version of the Docker Compose file format

# Service definitions for the big-bear-linkwarden application
services:
  # Service name: linkwarden
  # The `linkwarden` service definition
  big-bear-linkwarden:
    # Name of the container
    container_name: big-bear-linkwarden

    # Image to be used for the container
    image: ghcr.io/linkwarden/linkwarden:v2.13.1

    # Container restart policy
    restart: unless-stopped

    # Volumes to be mounted to the container
    volumes:
      - big-bear-linkwarden-data:/data/data

    # Environment variables
    environment:
      - DATABASE_URL=postgresql://portainer:portainerpassword@big-bear-linkwarden-db:5432/big-bear-linkwarden
      - NEXTAUTH_SECRET=7e2d8797-dc20-422a-9a68-44b958bd33c0
      - NEXTAUTH_URL=http://localhost/api/v1/auth
      - NEXT_PUBLIC_DISABLE_REGISTRATION=

    # Ports mapping between host and container
    ports:
      # Mapping port 3000 of the host to port 3000 of the container
      - "3000:3000"

    # Networks to be attached to the container
    networks:
      - big-bear-linkwarden-network

  # Postgres database
  big-bear-linkwarden-db:
    # Name of the container
    container_name: big-bear-linkwarden-db
    # Image to be used
    image: postgres
    # Container restart policy
    restart: unless-stopped
    # Environment variables
    environment:
      - POSTGRES_USER=portainer
      - POSTGRES_PASSWORD=portainerpassword
      - POSTGRES_DB=big-bear-linkwarden
    # Volumes to be mounted
    volumes:
      - big-bear-linkwarden-db:/var/lib/postgresql/data
    # Networks to be attached
    networks:
      - big-bear-linkwarden-network

  big-bear-meilisearch:
    image: getmeili/meilisearch:v1.35.1
    restart: always
    env_file:
      - .env
    volumes:
      - big-bear-meilisearch-data:/meili_data
    networks:
      - big-bear-linkwarden-network

# Networks to be created
networks:
  # Network name
  big-bear-linkwarden-network:
    # Set the driver to bridge
    driver: bridge

# Volumes to be created
volumes:
  # Volume name
  big-bear-linkwarden-data:
    # Volume name
    name: big-bear-linkwarden-data
    # Use the local storage driver
    driver: local
  big-bear-linkwarden-db:
    # Volume name
    name: big-bear-linkwarden-db
    # Use the local storage driver
    driver: local
  big-bear-meilisearch-data:
    # Volume name
    name: big-bear-meilisearch-data
    # Use the local storage driver
    driver: local
